body {
    margin: auto;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.gloock-regular {
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
}


h1 {
    font-family: Bebas Neue;
    font-size: 100px;
    text-align: center; 
    justify-content: center;
    /* border: 1px solid blue; */
    height: auto;
    margin: 0;
    padding: 0;
    color: white;  
    }

h2 {
    font-size: 23px;
    font-family: Gloock;  
    padding: 0;
    color: white;
}



a:link {
    color: white;
    text-decoration: none;
}



a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    /* text-decoration: underline;  */
    opacity: 50%;
}


.flex-container {
    padding: 0;
    /* outline: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 700px;
    z-index: 2;
   
}

.name {
    display: flex;
    justify-content: center;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    /* border: 1px solid red; */
    height: auto;
    flex-direction: row;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}